{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Experiences</title>
{% endblock %}
{% block content %}
<div class="container">
          <div class="second-part mt-lg-5">
              <div class="row">
                  <span class="col-md-6">

                      <h2>Single Room </h2>
                      <p class="text-justify">This single rooms have modern furnishings with the beautiful outside view.
                          This is a high-quality king-size bed ensures a refreshing sleep.
                          We are happy to provide you a luxurious and comfy room in a low charge of 1350.
                          This rooms can be reached via lift and have free free wifi.</p>
                      <button class="btn-Book price" style="width: 150px">
                          Book now
                      </button>
                      <button class="btn-1350 price" style="width: 150px">
                          Rs.1350
                      </button>
                  </span>
                  <span class="col-md-6">
                      <img src="{% static 'images/Single.jpg'%}" class="img-fluid shadow price_img" style="border-radius: 20px;">
                  </span>
              </div>
          </div>
      </div>


</div>

<div class="container">
          <div class="second-part mt-lg-5">
              <div class="row">
                  <span class="col-md-6">
                      <img src="{% static 'images/Double.jpg'%}" class="img-fluid shadow" style="border-radius: 20px;">
                  </span>
                  <span class="col-md-6">

                      <h2>Double Room </h2>
                      <p class="text-justify">This single rooms have modern furnishings with the beautiful outside view.
                          This is a high-quality king-size bed ensures a refreshing sleep.
                          We are happy to provide you a luxurious and comfy room in a low charge of 1350.
                          This rooms can be reached via lift and have free free wifi.</p>
                      <button class="btn-Book price" style="width: 150px">
                          Book now
                      </button>
                      <button class="btn-1500 price" style="width: 150px">
                          Rs.1500
                      </button>
                  </span>

              </div>
          </div>
      </div>


</div>

<div class="container">
          <div class="second-part mt-lg-5">
              <div class="row">
                  <span class="col-md-6">

                      <h2>Modern Formal Room </h2>
                      <p class="text-justify">This single rooms have modern furnishings with the beautiful outside view.
                          This is a high-quality king-size bed ensures a refreshing sleep.
                          We are happy to provide you a luxurious and comfy room in a low charge of 1350.
                          This rooms can be reached via lift and have free free wifi.</p>
                      <button class="btn-Book price" style="width: 150px">
                          Book now
                      </button>
                      <button class="btn-3500 price" style="width: 150px">
                          Rs.3500
                      </button>
                  </span>
                  <span class="col-md-6">
                      <img src="{% static 'images/Formal.jpg'%}" class="img-fluid shadow price_img" style="border-radius: 20px;">
                  </span>
              </div>
          </div>
      </div>


</div>

<div class="container">
          <div class="second-part mt-lg-5">
              <div class="row">
                  <span class="col-md-6">
                      <img src="{% static 'images/Nepali.jpg'%}" class="img-fluid shadow" style="border-radius: 20px;">
                  </span>
                  <span class="col-md-6">

                      <h2>Double Room </h2>
                      <p class="text-justify">This single rooms have modern furnishings with the beautiful outside view.
                          This is a high-quality king-size bed ensures a refreshing sleep.
                          We are happy to provide you a luxurious and comfy room in a low charge of 1350.
                          This rooms can be reached via lift and have free free wifi.</p>
                      <button class="btn-Book price" style="width: 150px">
                          Book now
                      </button>
                      <button class="btn-1800 price" style="width: 150px" style="border-radius: 20px;">
                          Rs.1500
                      </button>
                  </span>

              </div>
          </div>
      </div>


</div>




{% endblock %}

